__pycache__
.git
_reference_docker_idrac6
.dotnet
appdata
IdracVirtualConsoleViewer.App/bin
IdracVirtualConsoleViewer.App/obj
_decomp
err.txt
out.txt
tools-cfr.jar
data/app-argtest
data/app
data/app-cleancheck
data/app-direct
data/app-fixed
data/app-secret
data/screenshots
data/screenshots-secret
data/startapp.sh
data/vmedia
